body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

.title {
	font-size: 200px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family:;
}

.ad {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  .model {
	margin-top: 100px;
	width: 50%;
  }
  
  .model img {
	width: 100%;
	margin-bottom: 100px;
  }
  
  .charlotte {
	background-image: url("background/Butterflies.png")
  }
  
  .location {
	margin-bottom: 100px;
  }

  .poppy {
	  background-image: url("background/Flower.png");
  }

  .laneus { 
	  background-image: url("background/groovy.gif");
  }

  .mirror { 
	  background-image: url("background/Mirror\ background\ .png");
  }