body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: rgb(255, 74, 231);
}

.sidebar {
	width: 25%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
}

.navbar {
	background-color: blueviolet;
	height: 99px;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
}

.navbar:hover {
	height: 500px;
	overflow: scroll;
}

.moving { 
	width: 200px;
	height: 200px;
	background-color: rgb(7, 47, 223);
	border-radius: 50%;
	text-align: center;
	position: relative;

}

.text {
	width: 20%;
	display: flex;
	flex-wrap: wrap;
}
.container {
	display: flex; 
	flex-wrap: wrap;
	margin-left: 25%;
	width: 75%;
}

.location { 
	width: 75%;
	margin: auto;
	text-align: center;
	font-size: 18px;
	padding-bottom: 50px;
}

.item { 
	width: 25%;
}

.item.large { 
	width: 40%;
}

.item img { 
width: 100%;
}

.mt-100 { 
	margin-top: 100px;
}

.ml-75 { 
	margin-left: 75%;
}

.ml-55 { 
	margin-left: 55%;
}


