body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

.about { 
	font-size: 20px;
}

.title {
	font-size: 150px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.caption { 
	margin-bottom: 100px;
	font-size: 20px;
}

.buy {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: blueviolet;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	mix-blend-mode: exclusion;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: move 12s linear alternate infinite;
}

.buy:hover {
	animation-play-state: paused;
}

@keyframes move {
	0% {
		top: 0%;
		left: 0%;
	15% {
		top: 15%;
		left: 85%;
	}
	}
	25% {
		top: 25%;
		left: 50%;
	}
	50% {
		top: 100%;
		left: 75%;
	}
	75% { 
		top: 50%;
		left: 100%;
	}
	100% {
		top: 75%;
		left: 25%;
	}
}

.ad {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  .model {
	margin-top: 100px;
	width: 50%;
  }
  
  .model img {
	width: 100%;
	margin-bottom: 100px;
  }
  
  .charlotte {
	background-image: url("background/Butterflies.png")
  }
  
  .location {
	margin-bottom: 100px;
  }

  .poppy {
	  background-image: url("background/Flower.png");
  }

  .laneus { 
	  background-image: url("background/groovy.gif");
  }

  .mirror { 
	  background-image: url("background/Mirror\ 3.png");
  }

  .info {
	  margin-top: 100px;
	  margin-bottom: 100px;
	  background-color: rgb(55, 27, 212);
	  padding: 50px;
  }

  .classwork {
	  background-color: coral;
	  width: 300px;
	  height: 300px;
  }

  .symbol {
	  width: 100px;
  }